:root {
  --c-brand: #4d5ae5;
  --color-basic: #2e2f42;
  --color-basic-light: #f4f4fd;
  --color-hover: #404bbf;
  --color-light: #ffffff;
  --color-text: #434455;
  --color-background: #fff;
  --color-box: #e7e9fc;
  --color-icons: #31d0aa;
  --color-border: #8e8f99;
  --color-back-modal: #2e2f4266;
  --color-modal: #fcfcfc;
  --color-modal-label: #8e8f99;
}

/* Global styles */

body {
  font-family: 'Roboto', sans-serif;
  background: var(--color-background);

  color: var(--color-text);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Phone screen */
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Tablet screen */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Deskpot screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Header */

/* .header {
  border-bottom: 1px solid var(--color-box);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} */

.header-inner {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: auto;
}

.header-logo {
  padding: 18px 0;
  display: flex;
  margin-right: 76px;
  color: var(--c-brand);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-part {
  color: var(--color-basic);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  min-height: 24px;
  max-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.nav-list {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
  .address-section {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }

  .header-address {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .address-item:not(:last-child) {
    padding-bottom: 12px;
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .header-menu-button {
    display: none;
  }
  .header-logo {
    padding: 24px 0;
  }
  .header-address {
    display: flex;
    gap: 40px;
  }
  .navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;
  color: var(--color-basic);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-na {
  display: block;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: var(--color-hover);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-na::after {
  width: 48px;
  top: 96%;
  background-color: var(--color-hover);
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  content: '';
}

.nav-link:hover {
  color: var(--color-hover);
}

.nav-link:focus {
  color: var(--color-hover);
}

.address-section {
  font-style: normal;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-text {
  color: var(--color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text:hover {
  color: var(--color-hover);
}

.address-text:focus {
  color: var(--color-hover);
}

/* Hero section */
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero_mob.jpeg');
  max-width: 320px;
  background-color: var(--color-basic);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

.hero-title {
  max-width: 200px;
  color: var(--color-light);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding-bottom: 72px;
}

@media only screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_mob@2x.jpeg');
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_tab.jpeg');
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    max-width: 496px;
    margin: 0 auto;
    color: var(--color-light);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 36px;
  }

  .button {
    margin: 36px auto 0;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_tab@2x.jpeg');
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_desk.jpeg');
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    padding-bottom: 48px;
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_desk@2x.jpeg');
  }
}

.button {
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: var(--c-brand);
  color: var(--color-light);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: var(--color-hover);
  color: var(--color-light);
}

.button:focus {
  background-color: var(--color-hover);
  color: var(--color-light);
}

/* Advantages section */

.advantage-section {
  background-color: var(--color-background);
  padding-top: 96px;
}

.advantage-icon {
  display: none;
}

.advantage-title {
  color: var(--color-basic);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.advantage-text {
  color: var(--color-text);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.advantage-item {
  margin-bottom: 72px;
}
.advantage-item:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .advantage-icon {
    display: none;
  }
  .advantage-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantage-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .advantage-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    background: var(--color-basic-light);
  }

  .advantage-section {
    background-color: var(--color-background);
    padding: 120px 0;
  }

  .advantage-list {
    display: flex;
    gap: 24px;
  }

  .advantage-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .advantage-title {
    color: var(--color-basic);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .advantage-text {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Team section */

.team-section {
  background-color: var(--color-basic-light);
  color: var(--color-basic);
  text-transform: capitalize;
  text-align: center;
  padding: 96px 12px;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item {
  margin-top: 72px;
  background-color: var(--color-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team {
  padding: 32px 0;
  background: var(--color-background);
}

@media only screen and (min-width: 768px) {
  .team-title {
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-item {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team-img-item {
  display: block;
  max-width: 100%;
}

.team-member {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-position {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-socials-link {
  width: 40px;
  height: 40px;
}

.team-socials-icon {
  fill: none;
  transition: stroke 0.2s;
  width: 100%;
  height: 100%;
  background-color: var(--c-brand);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-icon:hover {
  background-color: var(--color-hover);
}

.team-socials-icon:focus {
  background-color: var(--color-hover);
}

.team-socials-img {
  fill: var(--color-basic-light);
}
/* Portfolio section */

.section {
  padding: 96px 0;
}

.portfolio-section {
  margin-bottom: 72px;
  background-color: var(--color-background);
  color: var(--color-basic);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.portfolio-photo {
  width: 288px;
  height: 280px;
  display: block;
}

.portfolio-item {
  margin-bottom: 48px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-photo {
    width: 356px;
    height: 300px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }

  .portfolio-photo {
    width: 360px;
    height: 300px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-basic-light);
  padding: 40px 32px;
  background-color: var(--c-brand);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio {
  padding: 32px 16px;
  background: var(--color-background);
  border: 1px solid var(--color-box);
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  color: var(--color-basic);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer section */

.footer-section {
  background-color: var(--color-basic);
  padding: 100px 0;
}

.container-footer-inner {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
.footer-inner-logo {
  text-align: center;
}

.logo-footer {
  text-align: center;
  margin-bottom: 16px;
  color: var(--c-brand);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  margin: 0;
  padding-top: 16px;
  text-align: left;
  max-width: 288px;
  background-color: var(--color-basic);
  color: var(--color-basic-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social {
  margin-top: 72px;
  margin-bottom: 72px;
}

.footer-social-title {
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-light);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-subscribe {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container-footer-inner {
    width: 660px;
    row-gap: 72px;
    column-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 108px;
  }
  .footer-inner-logo {
    text-align: left;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-social {
    margin: 0;
  }
  .footer-social-title {
    text-align: left;
  }
  .footer-subscribe {
    justify-content: center;
    display: flex;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1158px) {
  .container-footer-inner {
    display: flex;
    align-items: baseline;
    row-gap: 0;
    column-gap: 0;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  .footer-inner-logo {
    text-align: left;
    margin-right: 120px;
  }
  .logo-footer {
    display: inline-block;
  }
  .footer-social {
    margin-right: 80px;
  }

  .footer-social-title {
    display: inline-block;
  }
  .footer-subscribe {
    display: flex;
    gap: 24px;
  }
}

.logo-part-down {
  color: var(--color-basic-light);
}

.footer-social-link {
  width: 40px;
  height: 40px;
  fill: var(--c-brand);
  transition: stroke 0.2s;
}

.footer-social-icon {
  fill: none;
  transition: stroke 0.2s;
  width: 100%;
  height: 100%;
  background-color: var(--c-brand);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon:hover {
  background-color: var(--color-icons);
}

.footer-social-icon:focus {
  background-color: var(--color-icons);
}

.footer-social-img {
  fill: var(--color-basic-light);
}

.subscride {
  margin: 0;
  margin-bottom: 16px;
}

.footer-label {
  display: block;
  font-weight: 500;
  line-height: 1.2;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid var(--color-light);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-light);
}

input::placeholder {
  color: var(--color-light);
}

.subscride-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-background);
  cursor: pointer;
  background: var(--c-brand);
  border: none;
  border-radius: 4px;
}

.subscribe-svg {
  margin-left: 16px;
}

/* Modal */

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background: var(--color-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.button-modal {
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: var(--c-brand);
  color: var(--color-light);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.button-modal:hover {
  background-color: var(--color-hover);
  color: var(--color-light);
}

.button-modal:focus {
  background-color: var(--color-hover);
  color: var(--color-light);
}

.backdrop.backdrop.backdrop-is-open.modal {
  transform: scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-box);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:focus {
  fill: #4d5ae5;
}

.modal-close:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal .modal-close:hover {
  fill: #ffffff;
}

.modal .modal-close:focus {
  fill: #ffffff;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-basic);
  font-family: Roboto;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--color-modal-label);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--color-back-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-svg {
  padding-left: 38px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input:focus-within {
  border-color: #4d5ae5;
  outline: none;
}

.modal-textarea-field {
  margin-bottom: 16px;
}

.modal-texarea {
  height: 120px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid var(--color-back-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-texarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin: 0;
  margin-bottom: 24px;
}

.modal-checkbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin: 0;
  margin-right: 8px;
}

.modal-checkbox-label {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: var(--color-border);
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-link {
  color: var(--c-brand);
}

/* Mobile menu container */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 72px 16px 40px;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.menu-mobile-link {
  color: var(--color-basic);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-mobile-link.current {
  color: var(--color-hover);
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contacts-link {
  color: var(--color-text);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-contacts-link.accent {
  color: var(--c-brand);
}
.mobile-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-social-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.mobile-social-link {
  width: 40px;
  height: 40px;
  fill: var(--c-brand);
  transition: stroke 0.2s;
}

.mobile-social-icon {
  fill: none;
  transition: stroke 0.2s;
  width: 100%;
  height: 100%;
  background-color: var(--c-brand);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-icon:hover {
  background-color: var(--color-icons);
}

.mobile-social-icon:focus {
  background-color: var(--color-icons);
}

.mobile-social-img {
  fill: var(--color-basic-light);
}
